@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#FFF;
}

.top
{
   text-align:center;	
   background-color:#000;
   
   color:#FFF;
}
table
{
font-size:25px;
width:50%;	
margin:auto;
color:#000;
margin-left:65px;	
}
table tr th 
{
   text-align:center;
   border:#000 1px solid;	
}

table tr td
{
   text-align:center;
   border: 1px solid;
   padding:10px;
   
}

table a
{	
	text-decoration:none;
	color:#000;
}
table a:hover
{
	color:#0057AE;
}
h1
{
	color:#000;
	font-size: 40px;
	font-weight:700;
	letter-spacing:4px;
	padding:16px;
	margin-bottom:20px;
}
.footer-bottom
{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:12px; 
	background:#343a40;
	color:white;
	height:40px ;
	margin-right:auto;
	text-align:center;
	bottom:0px;
	left: 0px;
    width:100%;
    padding-top:10px;
}
.footer-bottom a
{
	text-decoration:none;
	color:#FFF;
	border:#FFF solid 1px;		
}
.flex
{
	display:flex;
	padding-bottom:229px;
	
}
.list
{
   width:20%;
   text-align:center;
   background-color:#FFF;
   border-right:1px #000000 solid;	
}
.list ul li 
{
    text-align:left;
	line-height:50px;	
	text-align:center;
}

.list ul li a
{ 		
	text-decoration:none;
	font-size:24px;	
	color:#333;
}
.footer-bottom a:hover
{
   color:#848BB3;
}
span
{
	font-size:15px;	
}
@media screen and (max-width: 600px) 
{
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  h1
  {
	  font-size:25px;
	  padding-top:17px;  
	  margin-bottom:0px;
  }
  .list
  {
	width:100%;	  
  }
  .list ul li a
  {
	  font-size:20px;
        border:1px #000000 solid; 
        padding:2px;
	  }
  .nav {
  display:inline-block;
  }
  .nav li 
   {
   text-align:center;
   display: inline-block;
   line-height:10px;
   }
  .flex
  {
	 display:block;  
  }
   .footer-bottom
  {
	 padding-top:7px; 
  }
  table
  {  
	margin:auto;  
  }

  .footer-bottom
	   {
		   padding:45px;
                   padding-top:5px;	
	   }
}
